#canvas, #palette {
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
}

#canvas {
    cursor: crosshair;
}

.pixel {
    background-color: white;
    width: 25px;
    height: 25px;
    border: 1px gray solid;
}

.black {
    background-color: black;
}

/* .blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
} */

.swatch {
    cursor: pointer;
    margin-top: 25px;
    margin-right: 10px;
    width: 25px;
    height: 25px;
    border: 2px white dotted;
}